html {
    scroll-behavior: smooth;
}

:root {
    --PersianBlue       : #1c39bb;
    --MediumPersianBlue : #0067a5;
    --PersianIndigo     : #32127a;
    --PersianPink       : #f77fbe;
    --PersianRose       : #fe28a2;
    --PersianRed        : #c81d11;
    --PersianGreen      : #00a693;
    --PersianOrange     : #d99058;
    --PersianPlum       : #701c1c;
}

body{
    background-image: url('../img/header-2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-banner {
    background-color: var(--PersianRed);
}

.avatar {
    border: 3px solid var(--PersianOrange);
    max-width: 150px;
}

.section {
    padding: 0;
}

.card{
    cursor: pointer;
}

.start-contrib-button, .start-contrib-button:focus, .start-contrib-button:hover{
    color: white;
    font-size: x-large;
}

.section{
    background-color: transparent;
}